<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gender Detector</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
  <style>
    html,
    body {
      height: 100%;
    }
    body {
      display: flow-root;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }
    .form-signin {
      max-width: 630px;
      padding: 15px;
    }
    .form-signin .form-floating:focus-within {
      z-index: 2;
    }
  </style>
  <!-- Custom styles for this template -->
</head>

<body>
  <!-- header -->
  <div id="react-entry-point">
    <table style="margin-left: auto;margin-right: auto;">
      <tr>
        <center><img class="mb-4" src="{{ url_for('static', filename='media/logo/gn.jpg') }}" alt="Logo yassir" width="150" height="87"></center>
        <div style="font-size: 20px;">
          <center>Check if your names are Man's names or Woman's names</center>
        </div>
        <main class="form-signin w-100 m-auto">
            <form action="{{ url_for('predict')}}" method="POST">
                <div class="mb-3"> 
                  <textarea id='names' class="form-control" name="name" rows="4" cols="40" placeholder="Enter names separated by comma." style="width: 700;" required autofocus></textarea>
                </div>
                <div class="text-center mt-3">
                  <input id='btn' class="btn btn-lg btn-primary" type="submit" value="Detect">
                </div>
            </form>
        </main>
        </br>
        <div style="font-size: 20px;">
          <center>
            <b>About Gender Detector</b>
          </center>
        </div>
        </br>
        <div style="text-align: justify;">
          <ol>
            <li>
              <strong>How does it work?</strong>
              <ul>
                <li>
                  "Gender Detector" uses a Machine Learning algorithm called "ExtraTreeClassifier" to read a name and output whether the name is a boy's name or a girl's name.
                </li>
                <li>
                  The algorithm has learnt how to make these output predictions by learning from over 120,000 first names from all over the world(even names writen in arabic).
                </li>
              </ul>
            </li>
            <li>
              <strong>Does it work for all the names?</strong>
              <ul>
                <li>
                  The algorithm was developed by feeding it with names writen in both latin and arabic alphabets. So it can detect all names written with these alphabets.
                </li>
              </ul>
            </li>
            <li>
              <strong>Does the website store any information?</strong>
              <ul>
                <li>
                  No. The algorithm runs on the names your provide and plots out the output predictions. The names are lost after that and the app does not store any information.
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </tr>
    </table>
  </div>
</body>
<footer>
  <!-- <center><p class="mt-5 mb-3 text-muted">&copy; Gender Detector 2022</p></center> -->
  <script>
  // Get the input field
    var input = document.getElementById("names");
    
    // Execute a function when the user presses a key on the keyboard
    input.addEventListener("keypress", function(event) {
      // If the user presses the "Enter" key on the keyboard
      if (event.key === "Enter") {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("btn").click();
      }
    });
  </script>
</footer>
</html>
